
body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
   
}
.logo-name-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
text-decoration: none;
list-style-type: none;


}
.section-list-benefits{
    list-style-type: none; 
}
.address-link{
list-style-type: none;

}
.head-title-link{
    list-style-type: none;
 
  
  }
.logo-span-studio{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.address-mail-items{
    font-style: normal;
}

.section-one-item{
    background: #2e2f42;
}
.nav-studio-logo {
    font-weight:  700;
    font-size:18px; 
   line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}
.studio-list-items{
    font-family: "Roboto", sans-serif;;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-email-items{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.name-link{
   
font-weight: 500;
    font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
   color: #2e2f42;
   text-transform:initial;

 
  
}
.name-link:focus,
.name-link:hover{
    color: #404bbf;
}
.address {
    font-style: normal;
    list-style-type: none;
}
.mail-link{
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color: #434455;
    text-decoration: none;
   

}
.mail-link:hover,
.mail-link:focus{
    color: #404BBF;
}


.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
  
}

.button-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
}
.button-link:focus,
.button-link:hover{
 background-color: #404BBF;
}
.section-list-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.character-option-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.header-title-name{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;

}
.team-foto-people{
    list-style-type: none;  
}
.section-font-style{
    list-style-type: none;
}

.name-person-work{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background-color: #FFFFFF;
}


.footer{
    background-color : #2e2f42;
 
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
  
}
.logo-name-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}
