*
.body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
   
}
.logo-name-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
  
}
.logo-span-studio{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.address-mail-items{
    font-style: normal;
}
.logo-span-studio{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.nav-studio-logo {
    font-weight:  700;
    font-size:18px; 
   line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-list-items{
    font-family: "Roboto", sans-serif;;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-email-items{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




.head-name-link{
font-weight: 500;
    font-size: 16px  ;
    line-height: 1.5;
    letter-spacing: 0.02em;
   color: #2e2f42;
}
.head-name-link:focus
.head-name-link:hover{
    color: #404bbf;
}
.address {
    font-style: normal;
}
.head-list-link{
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color: #434455;

}
.head-list-link:hover
.head-list-link:focus{
    color: #404BBF;
}


.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
  
}
.section-one-item
{
background: #2e2f42; 
}
.button-style-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
}
.button-style-link:focus
.button-style-link:hover{
    background-color: #404BBF;
}
.section-list-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.character-option-list{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-team-foto{
background-color: #F4F4FD;
}
.header-title-name{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
background-color: #FFFFFF;
}
.section-font-style{
    background-color: #FFFFFF;
}
.name-person-work{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
background-color: #FFFFFF;
}
.section-team-foto{
background: #f4f4fd;
}

.footer{
    background-color : #2e2f42;
 
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
  
}
.logo-name-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}
